<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<head>
    <title>Tasks</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<a class="breadcrumb" th:href="@{/lists}"> All Lists </a>

<h4>Add Task</h4>
<form class="form" method="POST" th:action="@{/list/add-task}">
    <input name="taskListId" th:value="${param.id}" type="hidden"/>
    <label> Name <input name="name" th:value="null"/></label>
    <label> Description <input name="description"></label>
    <input class="form-btn" type="submit" value="Add"/>
</form>

<h3>Tasks</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tasks.isEmpty()}">
        <td colspan="4">No Tasks</td>
    </tr>
    <tr th:each="task : ${tasks}">
        <td class="td-name"><span class="name" th:text="${task.getName()}"> Name </span></td>
        <td class="td-status"><span class="status" th:text="${task.getStatus()}"> Status </span></td>
        <td class="td-description"><span class="description" th:text="${task.getDescription()}"> Description </span>
        </td>
        <td class="td-form">
            <form class="form" method="POST" th:action="@{/list/delete}">
                <input name="id" th:value="${task.getId()}" type="hidden"/>
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <td class="td-form">
            <form class="form" method="POST" th:action="@{/list/change-status}">
                <input name="id" th:value="${task.getId()}" type="hidden"/>
                <input class="td-form-btn" th:if="${task.getStatus() == TO_DO}" type="submit" value="Done"/>
                <input class="td-form-btn" th:if="${task.getStatus() == DONE}" type="submit" value="UnDone"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
