<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<head>
    <title>Task Lists</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<form class="form" method="POST" th:action="@{/kill}">
    <input class="form-btn" type="submit" value="Kill"/>
</form>


<h3>Add Task List</h3>
<form class="form" method="POST" th:action="@{/lists/add-task-list}">
    <label> Name <input name="name" th:value="null"/></label>
    <label> Description <input name="description"></label>
    <input class="form-btn" type="submit" value="Add"/>
</form>

<h3>Tasks</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Todo</th>
        <th>Done</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${taskLists.isEmpty()}">
        <td colspan="4">No Task Lists</td>
    </tr>
    <tr th:each="taskList : ${taskLists}">
        <td class="td-name"><a class="name" th:href="@{/list(id=${taskList.getId()})}" th:text="${taskList.getName()}">
            Name </a></td>
        <td class="td-description"><span class="description" th:text="${taskList.getDescription()}"> Description </span>
        </td>
        <td><a th:text="${@taskService.findNotDoneTasksByListId(taskList.getId()).size()}"> Todo </a></td>
        <td><a th:text="${@taskService.findDoneTasksByListId(taskList.getId()).size()}"> Done </a></td>
        <td><a th:text="${@taskService.findByTaskListId(taskList.getId()).size()}"> Total </a></td>
        <td class="td-form">
            <form class="form" method="POST" th:action="@{/lists/delete}">
                <input name="id" th:value="${taskList.getId()}" type="hidden"/>
                <input class="td-form-btn" type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
